body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.erro{
  padding: 20px;
  color: red;
  font-size: 30px;
}

.sucesso{
  padding: 20px;
  color: greenyellow;
  font-size: 30px;
}